
.pinOption{
  position: fixed;
  top: 0;
  bottom: 0;
  right:0;
  min-width: 20px;
  max-width: 70vw;
  z-index: 1001;
}

.pinOption>div{
  display: none;
  margin-top: 10vh;
  margin-left: 10px;
}

.pinOption>div>*{
  margin-top: 5px;
  margin-bottom: 5px;
}

.pinOption>div>ul{
  list-style: none;
  padding-left: 10px;
}

.pinOption{
  width: 15px;
  background-color: #FFFFFF11;
}

.pinOption::after{
  content: "";
  position: absolute;

  background-color: #FFFFFFFF;
  border-radius: 2px;

  width: 5px;
  height: 30px;

  left: 5px;
  top: 50%;
  bottom: 50%;
  margin-top: -50%;
  margin-bottom: -50%;
}

.expandOption{
  width:600px;
  background-color: #FFFFFFAA;
}
.expandOption::after{
  display:none;
}

.expandOption>div{
  display:block;
}
