
.pinOption{
  position: fixed;
  top: 0;
  bottom: 0;
  right:0;
  min-width: 20px;
  max-width: 100vw;
  z-index: 1001;
}

.pinOption>div{
  opacity:0;
}

.pinOption>div>ul{
  list-style: none;
}

.pinOption{
  width: 15px;
  background-color: #FFFFFF00;
}

.pinOption::after{
  content: "";
  position: absolute;

  background-color: #FFFFFFFF;
  border-radius: 2px;

  width: 5px;
  height: 30px;

  left: 5px;
  top: 50%;
  bottom: 50%;
  margin-top: -50%;
  margin-bottom: -50%;
}

.pinOptionMove{
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.expandOption{
  width:100vw;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.optionShow::after{
  display:none;
}

.expandOption>div{
  transition:.3s ease-out;
  opacity:0;
}

.optionShow{
  position:fixed;
  top:0;
  bottom:0;
  right:0;
  padding-top: 10vh;
  background-color: #FFFFFFAA;
  opacity:1;
}

.optionShow>div{
  opacity:1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:100%;
}


.additionnalMenu{
  margin: .5rem;
  display:flex;
}
