*{
  font-family: sans-serif;
}

#logSection{
  position:fixed;
  z-index: 1002 ;
  bottom:0;
  right:0;
  padding-bottom: 1.5rem;
  padding-right: .5rem;
}

#signout{
  height:36px;
  min-width:120px;
  display:inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 0 25px 25px 0 ;
  width: 100%;
}

#signout>span{

}

#signout>img{
  max-width: 50px;
  max-height: 50px;
  margin-top: -50%;
  margin-bottom: -50%;
  border-radius: 50%;
}

#map{ /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
  height:100vh;
}
body{
  margin:0;
}

#search-bar{
  position:fixed;
  top: 2vh;
  left: 10vw;
  right: 10vw;
  height: 40px;
  z-index: 1002;
}

#search-bar>*{
  background-color: white;
  height:100%;
  max-width: 80vw;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}

#search-bar>div>*{
  background-color: transparent;
  border: none;
}
#search-bar>div>#searchText{
  height:100%;
  width:800px;
}
#search-bar>div>#searchBtn{
  height:100%;
  width:40px;
}
